body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  padding: 1em;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #eee;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 0.5em 1em;
  background-color: #ddd;
  border-radius: 4px;
}

.header-image {
  max-width: 560px;
  width: 100%;
  min-width: 200px;
}
.rosary {
  max-width: 800px;
  width: 100%;
  min-width: 100px;
}

nav a:hover {
  background-color: #ccc;
}

.container {
  text-align: center;
}

.unordered-list {
  list-style-type: disc; /* Default bullet style */
  margin: 20px;
  padding: 0;
}

.unordered-list li {
  margin: 5px 0;
}

.mysteries {
  margin: 100px;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.woff2') format('woff2'),
       url('../fonts/Avenir.woff') format('woff'),
       url('../fonts/Avenir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avenir', sans-serif;
}

.hiddenLink {
  visibility: hidden;
}